<!DOCTYPE html>
<html>
<head>
<script src="https://kit.fontawesome.com/535e433fee.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Tripify</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</body>
<br>
<body class="main-body">
<article class="main-form">
    <div>
        On a road trip? Tripify your ride!
    </div>
    <p>How are you getting to your destination?</p>
    <form method="get" action="/login">
            <input type="radio" id="Walking" name="transportation" value="Walking">
            <label for="Walking">Walking</label><br>
            <input type="radio" id="Biking" name="transportation" value="Biking">
            <label for="Biking">Biking</label><br>
            <input type="radio" id="Driving" name="transportation" value="Driving">
            <label for="Driving">Driving</label><br>
        <label for="start">Start Location:</label><br>
        <input type="text" id="start" name="start"><br>
        <label for="end">Destination:</label><br>
        <input type="text" id="end" name="end">
        <button type="submit">Submit</button>
    </form>
</article>
</body>
</html>